@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.flex-container {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 50vw auto;
    grid-template-rows: auto auto auto auto auto auto;
    height: 50vh;
    margin: auto;
    padding: 75px;
}

#heading {
    font-size: 28pt;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
    font-weight: bold;
}

.grid-item {
    font-size: 20pt;
    padding: 20px;
    text-align: left;
    font-family: "Source Code Pro", monospace;
}

#hero {
    background: url('resources/lines.png');
    grid-row-start: 1;
    grid-row-end: 7;
    background-size: 75vw 75vw;
    border-radius: 25px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #hero {
        background: url('resources/lines@2x.png');
        background-size: 50vw 50vw;
    }
}

@media only screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: 25vh;
        grid-template-rows: 25vh auto auto auto auto auto auto;
        height: 50vh;
        margin: auto;
        padding: 75px;
    }
    
    #hero {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    #heading {
        font-size: 18pt;
    }

    .grid-item {
        font-size: 12pt;
        padding: 10px;
    }
}