@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.flex-container {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 50vw auto;
    grid-template-rows: auto auto auto auto auto auto;
    height: 50vh;
    margin: auto;
    padding: 75px;
}

#heading {
    font-size: 28pt;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 900;
}

.grid-item {
    font-size: 20pt;
    padding: 20px;
    text-align: left;
    font-family: "Source Code Pro", monospace;
}

#hero {
    background: url('resources/pentool.png');
    grid-row-start: 1;
    grid-row-end: 7;
    background-size: 50vw 50vw;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #hero {
        background: url('resources/pentool@2x.png');
        background-size: 50vw 50vw;
    }
}